<div id="hp1">
	<div id="hp1">
		<div class="progress">
			<div
				class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
				role="progressbar" th:style="${ 'width: ' + hpb1 + '%' }"
				th:aria-valuenow="${hpb1}" aria-valuemin="0"
				aria-valuemax="100">
			</div>
		</div>
	</div>
</div>
<div id="hp2">
	<div id="hp2">
		<div class="progress">
			<div
				class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
				role="progressbar" th:style="${ 'width: ' + hpb2 + '%' }"
				th:aria-valuenow="${hpb2}" aria-valuemin="0"
				aria-valuemax="100"></div>
		</div>
	</div>
</div>

<div id="field">
	<div id="divconsole">
		<div class="scroll" id="console" th:utext="${message}"></div>
	</div>

	<div id="field" th:style="${'cursor: url('+cursor+'), crosshair; background-image: url('+session.imgField+');'}">
		<div class="row" id="hfield">
			<div class="col-2" id="left">
				<div class="row" id="tleft"></div>
				<div class="row" id="hcard">
					<div class="col-8">
						<div id="card" th:style="${'visibility: '+disc1}">
							<input type="image" class="imgcard" th:idCard="${session.idCard1}" th:id="${'c'+session.idCard1}"
								th:src="${session.img1}"
								th:style="${'cursor: url('+cursorch+'), not-allowed;'}">
							<div class="divdmg">
								<p class="dmg" th:id="${'dmg'+session.idCard1}">[[${dmg1}]]</p>
							</div>
							<div class="divname">
								<p class="name">[[${session.namec1}]]</p>
							</div>
							<div class="divclass">
								<p class="class">Carte C[[${session.idCard1}]]: [[${session.classc1}]]</p>
							</div>
							<div class="def">
								<p class="stat">[[${deckH[0].def}]]</p>
								<img class="cdef" th:id="${'def'+session.idCard1}" src="assets/img/battlefield/cursor/shield.ico">
							</div>
							<div class="atk">
								<p class="stat">[[${deckH[0].atk}]]</p>
							</div>
							<div class="life">
								<p class="stat">[[${deckH[0].life}]]</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="row" id="topField"></div>
				<div class="row" id="hcard">
					<div class="col-1" id="ltcard"></div>
					<div class="col-2">
						<div id="card" th:style="${'visibility: '+disc2}">
							<input type="image" class="imgcard" th:idCard="${session.idCard2}" th:id="${'c'+session.idCard2}"
								th:src="${session.img2}"
								th:style="${'cursor: url('+cursorch+'), not-allowed;'}">
							<div class="divdmg">
								<p class="dmg" th:id="${'dmg'+session.idCard2}">[[${dmg2}]]</p>
							</div>
							<div class="divname">
								<p class="name">[[${session.namec2}]]</p>
							</div>
							<div class="divclass">
								<p class="class">Carte C[[${session.idCard2}]]: [[${session.classc2}]]</p>
							</div>
							<div class="def">
								<p class="stat">[[${deckH[1].def}]]</p>
								<img class="cdef" th:id="${'def'+session.idCard2}" src="assets/img/battlefield/cursor/shield.ico">
							</div>
							<div class="atk">
								<p class="stat">[[${deckH[1].atk}]]</p>
							</div>
							<div class="life">
								<p class="stat">[[${deckH[1].life}]]</p>
							</div>
						</div>
					</div>
					<div class="col-5" id="mtcard"></div>
					<div class="col-2">
						<div id="card" th:style="${'visibility: '+disc4}">
							<input type="image" class="imgcard" th:idCard="${session.idCard4}" th:id="${'c'+session.idCard4}"
								th:src="${session.img4}"
								th:style="${'cursor: url('+cursorai+'), not-allowed;'}">
							<div class="divname">
								<p class="name">[[${session.namec4}]]</p>
							</div>
							<div class="divclass">
								<p class="class">Carte C[[${session.idCard4}]]: [[${session.classc4}]]</p>
							</div>
							<div class="def">
								<p class="stat">[[${deckAI[0].def}]]</p>
							</div>
							<div class="atk">
								<p class="stat">[[${deckAI[0].atk}]]</p>
							</div>
							<div class="life">
								<p class="stat">[[${deckAI[0].life}]]</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="midField">
					<img src="assets/img/battlefield/youWin.png" id="win">
					<img src="assets/img/battlefield/gameOver.gif" id="lose">
				</div>
				<div class="row" id="hcard">
					<div class="col-1" id="ltcard"></div>
					<div class="col-2">
						<div id="card" th:style="${'visibility: '+disc3}">
							<input type="image" class="imgcard" th:idCard="${session.idCard3}" th:id="${'c'+session.idCard3}"
								th:src="${session.img3}"
								th:style="${'cursor: url('+cursorch+'), not-allowed;'}">
							<div class="divname">
								<p class="name">[[${session.namec3}]]</p>
							</div>
							<div class="divclass">
								<p class="class">Carte C[[${session.idCard3}]]: [[${session.classc3}]]</p>
							</div>
							<div class="def">
								<p class="stat">[[${deckH[2].def}]]</p>
								<img class="cdef" th:id="${'def'+session.idCard3}" src="assets/img/battlefield/cursor/shield.ico">
							</div>
							<div class="atk">
								<p class="stat">[[${deckH[2].atk}]]</p>
							</div>
							<div class="life">
								<p class="stat">[[${deckH[2].life}]]</p>
							</div>
						</div>
					</div>

					<div class="col-5" id="mtcard"></div>
					<div class="col-2">
						<div id="card" th:style="${'visibility: '+disc5}">
							<input type="image" class="imgcard" th:idCard="${session.idCard5}" th:id="${'c'+session.idCard5}"
								th:src="${session.img5}"
								th:style="${'cursor: url('+cursorai+'), not-allowed;'}">
							<div class="divname">
								<p class="name">[[${session.namec5}]]</p>
							</div>
							<div class="divclass">
								<p class="class">Carte C[[${session.idCard5}]]: [[${session.classc5}]]</p>
							</div>
							<div class="def">
								<p class="stat">[[${deckAI[1].def}]]</p>
							</div>
							<div class="atk">
								<p class="stat">[[${deckAI[1].atk}]]</p>
							</div>
							<div class="life">
								<p class="stat">[[${deckAI[1].life}]]</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2" id="left">
				<div class="row" id="tleft"></div>
				<div class="row" id="hcard">
					<div class="col-8">
						<div id="card" th:style="${'visibility: '+disc6}">
							<input type="image" class="imgcard" th:idCard="${session.idCard6}" th:id="${'c'+session.idCard6}"
								th:src="${session.img6}"
								th:style="${'cursor: url('+cursorai+'), not-allowed;'}">
							<div class="divname" >
								<p class="name">[[${session.namec6}]]</p>
							</div>
							<div class="divclass">
								<p class="class">Carte C[[${session.idCard6}]]: [[${session.classc6}]]</p>
							</div>
							<div class="def">
								<p class="stat">[[${deckAI[2].def}]]</p>
							</div>
							<div class="atk">
								<p class="stat">[[${deckAI[2].atk}]]</p>
							</div>
							<div class="life">
								<p class="stat">[[${deckAI[2].life}]]</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="variables">
	<input type="text" id="endGame" th:value="${endGame}" style="visibility: hidden;"></input>
	<input type="text" id="idCardDef" th:value="${idCardDef}" style="visibility: hidden;"></input>
	<input type="text" id="idCardAtk" th:value="${idCardAtk}" style="visibility: hidden;"></input>
	<input type="text" id="boss" th:value="${boss}" style="visibility: hidden;"></input>
</div>

<div id=divBoss>
	<input type="image" class="boss" th:idCard="${session.idCard6}" th:id="${'c'+session.idCard6}"
			src="assets/img/battlefield/BOSS.png"
			th:style="${'visibility: '+discBoss+'; cursor: url('+cursorai+'), not-allowed;'}">
</div>
