<html th:replace="~{ layout.html :: layout(~{ ::body }, ~{ ::script }, ~{ ::bootstrap }) }">
	
	<bootstrap></bootstrap>
	
	<body>
		<div id="save">
			<div><a><img id="logoHome" src="assets/img/logo.png"/></a></div>
			<div>
				<h1>SAUVEGARDES</h1>
			</div>
			<table>
				<tr>
					<td id="c1"><a><img id="imgPrev" src="assets/img/save/prev.png"></a></td>
					<td id="show">
						<img src="assets/img/save/backSave.jpg">
						<form id="myform" method="POST" action="saveNext">
							<input type="hidden" value="" id="saveId" name="saveId"/>
							<a><div id="text">Partie de JOERRDEAMNY</div></a>
						</form>
						<div id="index">1/x</div>
						<div id="delete">Supprimer</div>
					</td>
					<td id="c2"><a><img id="imgNext" src="assets/img/save/next.png"></a></td>
				</tr>
			</table>
		</div>
	</body>
	
	<script type="text/javascript" th:inline="javascript">
		var text = document.getElementById("text");
		var index = document.getElementById("index");
		var saveId = document.getElementById("saveId");
		var suppr = document.getElementById("delete");
		var arr = new Array();
		var i = 0;
		var k = 0;
		var empty = [[${emptyList}]];
	
		window.onclick = select;
		window.onload = smoothOpening;
		
		function smoothOpening() {
			if (empty){
				suppr.style.visibility = "hidden";
				text.innerHTML = "Aucune partie enregistrée !";
				index.innerHTML = "";
			} else {
				arr = [[${player}]];
				i = arr.length;
				suppr.style.visibility = "visible";
				text.innerHTML = "Partie de " + arr[k].name;
				index.innerHTML = (k+1) + "/" + i;
			}
			bodyOp(0);
			bodyOpTimer(0);
		}
	
		function bodyOp(num) {
			document.body.style.opacity = num/100;
		}
	
		function bodyOpTimer(num) {
			if (num <= 100) {
				bodyOp(num);
				num += 4;
				window.setTimeout("bodyOpTimer("+num+")", 100);
			}
		}
		
		function select(e){
			if (!empty){
				if (e.target.id == "imgPrev"){
					k--;
				} else if (e.target.id == "imgNext"){
					k++;
				} else if (e.target.id == "logoHome"){
					window.location.href = "home";
				} else if (e.target.id == "text"){
					saveId.value = k;
					document.forms["myform"].submit();
				}
				
				if (k > (i-1)){
					k = 0;
				} else if (k < 0){
					k = (i-1);
				}
				text.innerHTML = "Partie de " + arr[k].name;
				index.innerHTML = (k+1) + "/" + i;
			} else {
				if (e.target.id == "logoHome" || e.target.id == "text"){
					window.location.href = "home";
				}
			}
		}
		
		$("#delete").click(function() {
			if (confirm("Êtes-vous sûr de vouloir supprimer la partie de " + arr[k].name)){
				$.ajax({
					type : 'POST',
					data : {
						saveId : k,
						suppression : "true"
						},
					success : function(){
						arr.splice(k,1);
						i--;
						k = 0;
						
						if (i == 0){
							text.innerHTML = "Aucune partie enregistrée !";
							index.innerHTML = "";
							suppr.style.visibility = "hidden";
							empty = true;
						} else {
							suppr.style.visibility = "visible";
							text.innerHTML = "Partie de " + arr[k].name;
							index.innerHTML = (k+1) + "/" + i;
						}
					}
				});
			}
		});
	</script>
</html>