<div *ngIf="!isCreating">
  <img id="logo" src="../../assets/img/timeBomb.png" />
</div>
<div *ngIf="isCreating">
  <img id="logo" style="cursor: pointer;" (click)="retour()" src="../../assets/img/timeBomb.png" />
</div>

<div class="container-fluid" *ngIf="!isCreating">
  <div class="row">
      <div class="col-6">
        <div id="nav">
          <p id="join" (click)="join('join')">Rejoindre une partie</p>
          <p (click)="create()">Créer une partie</p>
          <p id="look" (click)="join('look')">Regarder une partie</p>
          <p routerLink="/connect">Se déconnecter</p>
        </div>
      </div>
      <div class="col-6">
        <div id="history">
          <table class="table">
            <caption>Historique</caption>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Joueurs</th>
                <th>Gagnant</th>
                <th>Créateur</th>
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let match of srvMatch.matches">
                <td>{{match.name}}</td>
                <td>{{match.size}}</td>
                <td *ngIf="match.winner == 'SHERLOCK'" style="color: darkgreen">{{match.winner}}</td>
                <td *ngIf="match.winner == 'MORIARTY'" style="color: darkred">{{match.winner}}</td>
                <td *ngIf="match.winner == null">BOB</td>
                <td>{{match.owner.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

<div class="container" *ngIf="isCreating">
  <div class="row" id="titre">Création de partie</div>
  <div class="row">
    <div class="form-group">
      <label for="inputName">Nom</label>
      <input type="text" autocomplete="off" class="form-control" id="inputName" [(ngModel)]="match.name" placeholder="Gloubiboulga">
    </div>
    <div class="form-group">
      <label for="inputNbJ">Nombre de joueurs</label>
      <input type="number" autocomplete="off" class="form-control" id="inputNbJ" [(ngModel)]="match.size" placeholder="4">
    </div>
  </div>
  <div class="row" id="submit" (click)="submit()"><p id="creer">Créer</p></div>
</div>