#tableau {
    position: absolute;
    left: 2%;
    height: 70%;
    width: 50%;
}

.cards {
    position: relative;
    width: 5%;

}

.imgCard {
    position: relative;
    height: 100%;
}

.name {
    color: blue;
    width: 5%;
}

#tablePlayer {
    position: absolute;
    left: 20%;
    bottom: 2%;
    height: 26%;
    width: 60%;
}

#tableRevealed {
    position: absolute;
    right: 10%;
    bottom: 40%;
    height: 26%;
    width: 25%;
}