<p id="textTour" *ngIf="start()">
<span *ngIf="match.current.name!=playerName">C'est au tour de {{match.current.name}}</span>
<span *ngIf="match.current.name==playerName">C'est à vous de jouer!</span>
</p>

<table id="tableau" *ngIf="start()">
    <tr class="players" *ngFor="let u of playerFiltered()">
        <td class="name">{{u.name}}</td>
        <td class="cards" *ngFor="let c of u.hand">
            <img class="imgCard" *ngIf="c.revealed && c.type=='BOMB'" 
            src="../assets/img/cards/cardBomb.png">
            <img class="imgCard" *ngIf="c.revealed && c.type=='DIFFUSE'" 
            src="../assets/img/cards/cardDiffuse.png">
            <img class="imgCard" *ngIf="c.revealed && c.type=='BAIT'" 
            src="../assets/img/cards/cardBait.png">
            <img (click)="selectCard(c.id)" class="imgCard" *ngIf="!c.revealed" 
            src="../assets/img/cards/cardBack.png">

        </td>
    </tr>
</table>

<table id="tablePlayer" *ngIf="start()">
    <tr class="players">
        <td class="cards" *ngFor="let c of player().hand">
            <img class="imgCard" *ngIf="c.type=='BOMB'" 
            src="../assets/img/cards/cardBomb.png">
            <img class="imgCard" *ngIf="c.type=='DIFFUSE'" 
            src="../assets/img/cards/cardDiffuse.png">
            <img class="imgCard" *ngIf="c.type=='BAIT'" 
            src="../assets/img/cards/cardBait.png">
        </td>
    </tr>
</table>

<table id="tableRevealed" *ngIf="start()">
    <tr class="players">
        <td class="cards" *ngFor="let c of revealCards()">
            <img class="imgCard" *ngIf="c.type=='BOMB'" 
            src="../assets/img/cards/cardBomb.png">
            <img class="imgCard" *ngIf="c.type=='DIFFUSE'" 
            src="../assets/img/cards/cardDiffuse.png">
            <img class="imgCard" *ngIf="c.type=='BAIT'" 
            src="../assets/img/cards/cardBait.png">
        </td>
    </tr>
</table>

<div id="endGame" *ngIf="endGame()">
    <div class="row" id="titre"></div>
    <div class="row">
      <div class="form-group">
        <p class="text">Fin de la partie</p>
        <p class="text">Les gagnants sont : {{match.winner}}</p>
      </div>
    </div>
    <div class="row" id="submit" routerLink="/home">
        <p>Quitter</p>
    </div>
</div>

<div id="endGame" *ngIf="!start()">
    <div class="row" id="titre"></div>
    <div class="row">
      <div class="form-group">
        <p class="text">Nombre de joueurs {{match.players.length}} sur {{match.size}}</p>
        <p class="text">Joueurs:<span *ngFor="let p of match.players"> {{p.name}}</span></p>
      </div>
    </div>
    <div class="row" id="submit" routerLink="/home">
        <p *ngIf="btnStart()" (click)="lancer()">Lancer la partie</p>
    </div>
</div>
