<html th:replace="~{ layout.html :: layout(~{ ::body }, ~{ ::script }, ~{ ::bootstrap }) }">
	
	<bootstrap></bootstrap>
	
	<body>
		<div id="choice">
			<div><a><img id="logoHome" src="assets/img/logo.png"/></a></div>
			<div>
				<h1>CHOIX DE L'ÉQUIPE</h1>
			</div>
			<table>
				<tr>
					<td class="c1"><h2>HP :</h2></td>
					<td class="c2"><h3 id="texthp">[[${hp}]]</h3></td>
					<td class="c3"><input type="range" class="sliderperso" id="hp" value="0" min="0" th:max="${pts}" step="1"></td>
				</tr>
				<tr>
					<td class="c1"><h2>ATK :</h2></td>
					<td class="c2"><h3 id="textatk">[[${atk}]]</h3></td>
					<td class="c3"><input type="range" class="sliderperso" id="atk" value="0" min="0" th:max="${pts}" step="1"></td>
				</tr>
				<tr>
					<td class="c1"><h2>DEF :</h2></td>
					<td class="c2"><h3 id="textdef">[[${def}]]</h3></td>
					<td class="c3"><input type="range" class="sliderperso" id="def" value="0" min="0" th:max="${pts}" step="1"></td>
				</tr>
			</table>
			<div id="inter"></div>
			<div id="table2">
				<ul>
					<li th:each="c : ${session.listChoice}">
						<a><img th:id="${'card' + c.id}" src="assets/img/choice/emptyCard.png" class="cards"></a>
						<div class="cardhp">[[${c.life}]]</div>
						<div class="cardatk">[[${c.atk}]]</div>
						<div class="carddef">[[${c.def}]]</div>
						<div class="titre">? ? ?</div>
					</li>
				</ul>
			</div>
			<div>
				<form id="myform" method="POST" action="choice">
					<input type="hidden" value="" id="choiceStats" name="choiceStats"/>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<a id="continue">CONTINUER<br>>></a>
				</form>
			</div>
		</div>
		
		<script type="text/javascript">
			var hp = document.getElementById("hp");
			var atk = document.getElementById("atk");
			var def = document.getElementById("def");
			var texthp = document.getElementById("texthp");
			var textatk = document.getElementById("textatk");
			var textdef = document.getElementById("textdef");
			var dt = new Date();
			var numberCard = 0;
			var pts = "[[${pts}]]";
			var choiceStats = document.getElementById("choiceStats");
			
			window.onload = smoothOpening;
			window.onclick = select;
			
			hp.oninput = hplink;
			atk.oninput = atklink;
			def.oninput = deflink;
			
			function hplink(){
				var s = parseInt(hp.value) + [[${hp}]];
				texthp.innerHTML = s;
				atk.max = pts - hp.value - def.value;
				def.max = pts - hp.value - atk.value;
			}
	
			function atklink(){
				var s = parseInt(atk.value) + [[${atk}]];
				textatk.innerHTML = s;
				hp.max = pts - atk.value - def.value;
				def.max = pts - atk.value - hp.value;
			}
	
			function deflink(){
				var s = parseInt(def.value) + [[${def}]];
				textdef.innerHTML = s;
				hp.max = pts - def.value - atk.value;
				atk.max = pts - def.value - hp.value;
			}
			
			function select(e){
				if (e.target.id.includes("card")){
					var marginTop = getMargin(e.target.id);
					document.getElementById(e.target.id).style.transition = "all 1.5s";
	
					if (marginTop == "125px" && numberCard < 2){
						document.getElementById(e.target.id).style.marginTop = "0px";
						numberCard++;
					} else if (marginTop == "0px"){
						document.getElementById(e.target.id).style.marginTop = "125px";
						numberCard--;
					}
				} else if (e.target.id == "continue"){
					var s = parseInt(hp.value) + parseInt(atk.value) + parseInt(def.value);
					
					if (s != pts && numberCard != 2){
						alert("Attribuer tous les points de stats et choisir deux cartes !");
					} else if (s != pts && numberCard == 2){
						alert("Attribuer tous les points de stats !");
					} else if (s == pts && numberCard != 2){
						alert("Choisir deux cartes !");
					} else if (s == pts && numberCard == 2) {
						setTimeout(getAll, 2000);
					}
				} else if (e.target.id == "logoHome"){
					window.location.href = "home";
					return false;
				}
			}
			
			function getAll(){
				var a="";
				var id = [[${session.listChoice[0].id}]];
				var nbCard = [[${nbCard}]];
				for (var i = id; i < id + nbCard; i++) {
					if (getMargin("card" + i) == "0px"){
						if (a == ""){
							a += (i-id+1).toString() + "|";
						} else {
							a += (i-id+1).toString();
						}
					}
				}
				
				var retour = texthp.innerText + "|" + textatk.innerText + "|" + textdef.innerText + "|" + a;
				choiceStats.value = retour;
				document.forms["myform"].submit();
			}
			
			function getMargin(id){
				return window.getComputedStyle(document.getElementById(id)).getPropertyValue('margin-top');
			}
		</script>
	</body>
</html>