<html th:replace="~{ layout.html :: layout(~{ ::body }, ~{ ::script }, ~{ ::bootstrap }) }">
	
	<bootstrap></bootstrap>
	
	<body id="prologue">
		<div id="avant"><img id="play" src="assets/img/home/logoPlay1.png"/></div>
		<div id="apres">
			<div class="fade"></div>
			<div><img id="logoHome" src="assets/img/logo.png"/></div>
			<section class="star-wars">
				<div class="crawl">
					<div class="title">
						<p>TRIPLEA présente</p>
						<h1>The Last Hope</h1>
					</div>
					
					<p>Il y a bien longtemps, dans une galaxie lointaine, très lointaine...</p></br>
					<p>C'est une époque de guerre civile. La population est affamée et très en colère contre son dirigeant. Celui-ci vit paisiblement dans son manoir, situé au plus profond sous la surface, juste aux portes des enfers.</p>
					<br/>
					<p>Un groupe de résistant s'est formé et a déjà repris le contrôle de la ville. Il ne reste plus que deux lignes de défense avant de pouvoir atteindre les appartements du dictateur, surnommé "Le Fragile" par les résistants.</p></br>
					<p>C'est à vous qu'à été confié la mission d'aller assassiner ce manipulateur et puissant magicien.</br>Vous et vos deux plus fidèles compagnons plongèrent, armes en main, vers la demeure de BlackJordan, mais à quel prix...</p>
				</div>
			</section>
		</div>
		<div><img id="sound" src="assets/img/home/sound.png"/></div>
		<div><img id="jordan" src="assets/img/home/jordan.png"/></div>
		<div id="echap">Appuyer sur ECHAP pour passer...</div>
		<audio id="Audio" style="display: none;">
			<source src="assets/sound/prologue.mp3" type="audio/mp3">
		</audio>
		<form id="myform" method="POST" action="optionsApply">
			<input id="formDifficulte" type="hidden" name="formDifficulte" value="2"/>
			<input id="formScene" type="hidden" name="formScene" value="6"/>
			<input id="formMusique" type="hidden" name="formMusique" value="0"/>
			<input id="formVolume" type="hidden" name="formVolume" value="0.1"/>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		</form>
	
		<script type="text/javascript">
			var playButton = document.getElementById("play");
			var avant = document.getElementById("avant");
			var apres = document.getElementById("apres");
			var audio = document.getElementById("Audio");
			var echapDisp = document.getElementById("echap");
			var sound = document.getElementById("sound");
			var jordan = document.getElementById("jordan");
			var formDifficulte = document.getElementById("formDifficulte");
			var formScene = document.getElementById("formScene");
			var formMusique = document.getElementById("formMusique");
			var formVolume = document.getElementById("formVolume");
			var i = 0;
			var j = 0;
			var k = 0;
			
			window.onload = load;
			window.onkeydown = echap;
			audio.onended = timer;
			playButton.onmouseover = changeImg;
			playButton.onmouseout = changeImg;
			playButton.onclick = next;
			
			function load(){
				document.documentElement.style.background = "none";
				document.documentElement.style.backgroundColor = "black";
			}
			
			function changeImg(){
				if (k == 0){
					playButton.setAttribute('src', 'assets/img/home/logoPlay2.png');
					k = 1;
				} else {
					playButton.setAttribute('src', 'assets/img/home/logoPlay1.png');
					k = 0;
				}
			}
			
			function next(){
				audio.volume = 0.05;
				avant.style.display = "none";
				apres.style.display = "block";
				window.setTimeout(play, 6000);
			}
			
			function play(){
				audio.play();
				window.setTimeout(image, 26500);
			}
			
			function image(){
				if (j == 0){
					jordan.style.visibility = "visible";
					window.setTimeout(image, 1000);
					j = 1;
				} else {
					jordan.style.visibility = "hidden";
				}
			}
		
			function timer(){
				window.setTimeout(options(), 3000);
			}
			
			function echap(event){
				var key = event.keyCode;
				if (key == 27){
					if (i == 0){
						echapDisp.style.visibility = "visible";
						i = 1;
					} else {
						options();
						return false;
					}
				} else if (key == 32){
					if (audio.volume == 0.1){
						audio.volume = 0;
						sound.style.visibility = "visible";
					} else {
						audio.volume = 0.1;
						sound.style.visibility = "hidden";
					}
				}
			}
			
			function options(){
				var difficulte = localStorage.getItem('difficulte');
				var sceneNum = localStorage.getItem('sceneNum');
				var musicNum = localStorage.getItem('musicNum');
				var musicVol = localStorage.getItem('musicVol');
				
				if (difficulte == null){
					localStorage.setItem('difficulte', 2);
					localStorage.setItem('sceneNum', 6);
					localStorage.setItem('musicNum', 0);
					localStorage.setItem('musicVol', 0.05);
				} else {
					formDifficulte.value = difficulte;
					formScene.value = sceneNum;
					formMusique.value = musicNum;
					formVolume.value = musicVol;
				}
				document.forms["myform"].submit();
			}
		</script>
	</body>
</html>