<div>
  <img id="logo" (click)="anim()" src="../../assets/img/timeBomb.png" />
</div>

<div class="container">
  <div class="row" id="titre">{{isRegistering | connectTitre: "titre"}}</div>
  <div class="row">
    <div class="form-group" *ngIf="isRegistering">
      <label for="inputLogin">Nom d'utilisateur</label>
      <input type="text" autocomplete="off" class="form-control" id="inputLogin" [(ngModel)]="user.name" name="test1" placeholder="John">
    </div>
    <div class="form-group">
      <label for="inputIdent">Identifiant</label>
      <input type="text" autocomplete="off" class="form-control" id="inputIdent" [(ngModel)]="user.username" name="test2" placeholder="Johnny">
    </div>
    <div class="form-group">
      <label for="inputPwd">Mot de passe</label>
      <input type="password" autocomplete="off" class="form-control" id="inputPwd" [(ngModel)]="user.password" name="test3" placeholder="••••••••">
    </div>
  </div>
  <div class="row" *ngIf="!isRegistering">
    <p id="register" (click)="register()">Inscription</p>
  </div>
  <div class="row" id="submit" (click)="submit()"><p>{{isRegistering | connectTitre: "submit"}}</p></div>
  <div *ngIf="connectionOk == false" style="color: #d54137; margin-top: 5%; text-align: center; font-size: small;">La connexion a échouée !</div>
  <div *ngIf="registerOk == false" style="color: #d54137; margin-top: 5%; text-align: center; font-size: small;">L'inscription a échouée !</div>
</div>